@font-face {
	/* Reference name */
	font-family: 'Space Grotesk';
	/* For multiple files use commas, ex: url(), url(), ... */
	src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	@apply bg-surface-50-900-token h-full overflow-hidden;
}
